@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.card {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(71, 71, 82, 0);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.not-display-form {
  display: none
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: green;
  background-image: none;
  width: 100%;
  height: 100%;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
}
select::-ms-expand {
   display: none;
}

.display.form {
  display: block;
}

.form-card {
  position: relative;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(71, 71, 82, 0);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.task-card {
  position: relative;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(71, 71, 82, 0);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.completed {
  text-decoration: line-through;
  opacity: .5;
}
